.Rproj.user
.Rhistory
.RData
.Ruserdata
Clasificacion/.DS_Store
Clasificacion/Clasificacion.Rmd
Clasificacion/Clasificacion_files/.DS_Store
Clasificacion/Clasificacion_files/figure-gfm/.DS_Store
PROMMRA_R.Rproj
.DS_Store
Clasificacion/ScriptClasificacion.R
SIG/Demanda.Rmd
SIG/ExtraccionDemanda.R
